/.idea
/node_modules
/development
/storage/*.key
/vendor
/build
/storage/logs
/app/Containers/Vendor
/public/vendor
/laradock*/
/public/uploads
.env
.env.testing
.env.backup
.phpunit.result.cache
_ide_helper*.php
.phpstorm.meta.php
.env.example
composer.lock
package-lock.json
